ul li .list-element {
    width: 100%;
    border-bottom: 1px dashed grey;
}

ul li .list-item p {
    color: rgb(55, 55, 55);
    margin: 0 10px;
}

.list-element .todo-content-container {
    text-align: left;
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.check-btn {
    border: solid 1px grey;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.edit-btn {
    padding: 0 10px;
    background-color: transparent;
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.1s;
    color: rgb(147, 147, 147);
    border: none;
}
.edit-btn:focus{
    outline: none;
}
.list-element:hover .edit-btn {
    opacity: 1;
}

.edit-btn:hover {
    color: rgb(82, 81, 81);
}

.edit-form-container {
    min-height: 80px;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    display: none;
    margin-bottom: 10px
}
.edit-form-container.active{
    display: block;
}
.edit-form-container p {
    font-size: 0.9rem;
}
.edit-form-container input{
    border: none;
    border-radius: 5px;
    border: solid 1px rgb(173, 173, 173);
    padding: 8px;
    font-size: 0.9rem;
    color: rgb(77, 77, 77);
    width: 100%;
}
.edit-form-container input:focus{
    outline: none;
}
.edit-form-container label{
    margin-right: 5px;
}
.colors-container{
    display: flex;
    gap: 8px;
    
}
.color-pick{
    margin-top: 15px;
    
}
.color-pick h3{
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.highlight-color{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    border: 1px solid rgb(173, 173, 173);
}

.highlight-color.red{
    background-color: #ff3131;
}
.highlight-color.yellow{
    background-color: rgb(247, 218, 0);
}
.highlight-color.green{
    background-color: rgb(68, 226, 0);
}
.highlight-color.transparent{
    background-color: white;
}
.edit-form-container .edit-submit-btn{
    padding: 0;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #f81762;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-form-container h3{
    color: rgb(46, 46, 46);
    margin-bottom: 5px;
}